body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #f5f5f5;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

button {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e5e5e5;
}

#quiz {
  margin-top: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.game-question {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.game-choices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-choice {
  background-color: #e5e5e5;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-choice:hover {
  background-color: #d5d5d5;
}

.game-choice.correct {
  background-color: #a7eb9b;
}

.game-choice.incorrect {
  background-color: #ff8d8d;
}

.game-choice.disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #192841;
  color: #ffffff;
}

.dark-mode .container,
.dark-mode .game-choice {
  background-color: #2b394f;
}

#settingsButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#settingsButton img {
  width: 20px;
  height: 20px;
}

#settingsModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

#settingsModal .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

#settingsModal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#settingsModal .close:hover,
#settingsModal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#titleForm {
  display: none;
  margin-bottom: 10px;
}

#titleForm label {
  margin-right: 10px;
}

#titleForm input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#titleForm button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #e5e5e5;
  cursor: pointer;
}

#titleForm button:hover {
  background-color: #d5d5d5;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .container > * {
    margin: 5px 0;
  }
}
