body {
    font-family: Arial, sans-serif;
    background-color: darkblue;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 32px;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#quiz, #result {
    display: none;
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
    }
}
